# Dependencies
node_modules/
.pnpm-store/

# Turborepo
.turbo/

# Next.js
.next/
out/
apps/web/.next/
apps/web/out/

# Expo
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Build outputs
dist/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing / coverage
coverage/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Supabase local
supabase/.temp/
supabase/.branches/

# EAS
.eas/
